.conteiner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  height:500px;
  margin:0 2rem;
}  
.homeContent{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.homeContent h1{
  font-size: 2rem;
  color: #eee;
  
}
.homeContent p{
  color: #aaa;
  font-size: 1.2rem;
  
}
@media (max-width:820px) {
  .conteiner{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr  1fr;
    height:auto;
    max-width: 500px;
    
  }  
  .homeContent{
    padding: 3rem;
    text-align: center; 
    gap: 1rem; 
    
  }
}
@media (max-width:520px) {
  .conteiner{
    margin: 0 1rem;    
  }  
  .homeContent{
    padding: 1rem;
    gap: 1rem;     
  }
}