.form{ 
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:  100%;
}
.form h1{
  color: #eee;
  font-size: 2rem;
  align-self: center;
}
.form>p:last-child{
color: #eee;
margin-top: 1rem;
}
.link{
  text-decoration: none;
color:var(--color-theme);
}
