.input{
  padding: .5rem ;
  border-top: none;
  border:  solid 2px var(--color-theme);
  color: var(--color-theme);
  background: #ddd;
  border-radius: 10px;
  width: 100%;
  font-size: 1.2rem;
}
.label{
  display: block;
  font-size: 1.2rem;
  color:var(--color-theme);
  margin-bottom: .5rem;
}