*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-theme:blueviolet;  
}
body{
  background-color: var(--color-theme);
  margin-top: 4rem;  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s
  ;
}
.App{  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.bxColor{
  display: flex;
  height: 40px;
  width: 200px;
  align-self: flex-start;
  margin-left: 1rem;
  border-radius: 40px;
  align-items: center;
  gap: .5rem;
  justify-content: center;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
    
}
.color:hover{
  opacity: .5;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, .4);
  border: 2px solid  rgba(0, 0, 0, 0.2) ;
}
.color{
  width:30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.6);
  transition: .2s;
  cursor: pointer;
}
